<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{styles/reser.css}"
          href="../static/styles/reset.css">
    <link th:insert="headerfooter/navbar.html :: navbarStyle">
    <link th:insert="headerfooter/footer.html :: footerStyle">
    <link rel="stylesheet" th:href="@{/styles/home.css}"
          href="../static/styles/home.css">
</head>
<body>

<nav th:replace="headerfooter/navbar.html :: header"></nav>
<main>
    <div>
        <h2>Basic Information About The Site !</h2>
        <p>In this website there are 4 pages Home, Users, Login, Signup pages, </p>
        <p>The Users page contain a list of all the users in the website, </p>
        <p>The Login page allow the registered users to login </p>
        <p>and the Signup page allow you to register to the website. </p>
        <p>When you successfully register you can add posts by going to your profile and fill in the form </p>

    </div>
</main>

<footer th:replace="footer.html :: footer"></footer>
</body>
</html>