<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">

    <title>Login page</title>
    <link rel="stylesheet" th:href="@{styles/reset.css}"
          href="../static/styles/reset.css">
    <link th:insert="navbar.html :: navbarStyle">
    <link th:insert="footer.html :: footerStyle">
    <link rel="stylesheet" th:href="@{/styles/users.css}"
          href="../static/styles/user.css">

    <title>users page</title>
</head>
<body>
<nav th:replace="navbar.html :: header"></nav>

<main th:if="${users.size() > 0}">
    <div th:each="user : ${users}">
        <a th:href="'/user/' + ${user.id}">
            <span><img src="../static/images/profile.png" th:src="@{/images/profile.png}" th:alt="${user.firstName}" alt=""></span>
            <span th:text="${user.firstName} + ' ' + ${user.lastName}"></span>
        </a>
    </div>
</main>

<main th:unless="$users.size() >0">
    <p>there are no users , you can signup <a href="/signup">here</a> </p>

</main>
<footer th:replace="footer.html :: footer"></footer>

</body>
</html>