main{
    text-align: center;
    color: #333;
    min-height: 600px;
}

main h2{
    font-size: 40px;
    color: #333;
    margin-bottom: 20px;
}

main p {
    line-height: 1.5;
    font-size: 25px;
}